body, html {
    margin: 0;
    padding: 0;
}

p, span, b, ul, li, h1, h2, h3, h4, h5, h6, input {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    font-family: Exo;
    font-size: 16px;
}

input, select {
    outline: none;
}

body > canvas { 
    width: 100%; 
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

body > section#mouseLayer {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body > section#blocker {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body > section#toolsbar {
    width: 400px;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 10px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}
    body > section#toolsbar > * + * {
        margin-top: 10px;
    }

section#cubeview {
    position: relative;
    z-index: 3;
}

pop-up {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  z-index: 100;
}