/* 
    SELECTION BOX CSS 
*/
section.selectionBox {
    background: #8D6E63;
    border-radius: 5px;
    display: flex;
    box-sizing: border-box;
    border-top: 2px solid #A1887F;
    border-left: 2px solid #A1887F;
    border-bottom: 2px solid #8D6E63;
    border-right: 2px solid #8D6E63;
    box-shadow: 1px 1px 10px rgba(20,20,20,0.5);
    height: 30px;
    align-items: center;
    position: relative;
}

    section.selectionBox > select {
        border-radius: 4px;
        font-family: Roboto;
        flex-grow: 1;
        border: 2px solid #455A64;
        padding-left: 10px;
        margin: 0 4px;
        height: 24px;
        color: #455A64;
        font-weight: bold;
        position: relative;
    }
        section.selectionBox > select:focus {
            cursor: pointer;
            border-color: #D84315;
            color: #D84315;
        }

    section.selectionBox > p {
        display: flex;
        align-items: center;
        text-align: left;
        padding: 0 10px;
        color: #FFFDE7;
        font-family: Roboto;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: bold;
        flex-grow: 1;
    }
    section.selectionBox > span {
        background: #795548;
        margin-right: 6px;
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: #FFF;
        height: 22px;
        font-size: 13px;
        font-weight: bold;
        font-family: Roboto;
        letter-spacing: 0.5px;
        box-sizing: border-box;
        border-left: 2px solid rgba(255,255,255,0.3);
        border-top: 2px solid rgba(255,255,255,0.3);
        transition: background 0.2s linear;
    }
        section.selectionBox > span.selected {
            background: #D84315;
        }
        section.selectionBox > span:not(.selected):hover {
            background: #6D4C41;
            cursor: pointer;
        }

/*
    INPUT CSS 
*/
section.input {
    background: #8D6E63;
    border-radius: 5px;
    display: flex;
    box-sizing: border-box;
    border-top: 2px solid #A1887F;
    border-left: 2px solid #A1887F;
    border-bottom: 2px solid #8D6E63;
    border-right: 2px solid #8D6E63;
    box-shadow: 1px 1px 10px rgba(20,20,20,0.5);
    height: 30px;
    align-items: center;
    position: relative;
}
    section.input > p {
        display: flex;
        align-items: center;
        text-align: left;
        padding: 0 10px;
        color: #FFFDE7;
        font-family: Roboto;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: bold;
        flex-grow: 1;
    }
    section.input > input[type="number"] {
        width: 50px;
    }
    section.input > input[type="text"] {
        width: 120px;
    }
    section.input > input {
        border-radius: 4px;
        font-family: Roboto;
        border: 2px solid #455A64;
        margin: 0 4px;
        height: 24px;
        color: #455A64;
        font-weight: bold;
        box-sizing: border-box;
        position: relative;
        text-align: center;
    }
    section.input > label {
        background: #A1887F;
        color: #FFFDE7;
        min-width: 24px;
        height: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Exo;
        border-radius: 24px;
    }

/*
    LIST CSS 
*/
section.list {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}
    section.list > section.header {
        min-height: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        margin-bottom: 10px;
        margin-left: -4px;
        margin-top: -4px;
    }
        section.list > section.header > button {
            background: #8D6E63;
            border-top: 2px solid #A1887F;
            border-left: 2px solid #A1887F;
            border-bottom: 2px solid #8D6E63;
            border-right: 2px solid #8D6E63;
            box-shadow: 1px 1px 10px rgba(20,20,20,0.5);
            border-radius: 2px;
            height: 24px;
            box-sizing: border-box;
            color: #FFFDE7;
            padding: 0 5px;
            font-family: Exo;
            font-weight: bold;
            letter-spacing: 0.4px;
            transition: all 0.2s linear;
            flex-basis: 100px;
            flex-grow: 1;
            outline: none;
            margin-left: 4px;
            margin-top: 4px;
        }
            section.list > section.header > button:hover {
                background: #D84315;
                border-color: #E65100;
                cursor: pointer;
            }

    section.list > ul {
        flex-grow: 1;
    }
        section.list > ul li {
            background: #FFF;
            height: 20px;
            color: #333;
            border-radius: 3px;
            font-family: Exo;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            align-items: center;
            padding: 0 10px;
            transition: all 0.2s linear;
        }
            section.list > ul li.selected {
                background: #E3F2FD;
                font-style: italic;
                color: #0D47A1;
            }
        section.list > ul li + li {
            margin-top: 4px;
        }

/*
    GROUP CSS 
*/
section.box section.group {
    border: 2px solid #546E7A;
    padding: 10px;
    padding-top: 10px;
    margin-top: 20px;
    position: relative;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

    section.box section.group > * + * {
        margin-top: 10px;
    }

    section.box section.group > p.title {
        position: absolute;
        left: 10px;
        background: #37474F;
        top: -10px;
        color: #FFF;
        font-family: Exo;
        font-size: 15px;
        padding: 0 20px;
        letter-spacing: 1px;
        font-weight: bold;
    }

/*
    BUTTON Element 
*/
section.button {
    border-radius: 5px;
    display: flex;
    height: 24px;
    align-items: center;
    position: relative;
}
    section.button > p {
        color: #FFFDE7;
        font-family: Roboto;
        font-size: 13px;
        font-weight: bold;
        flex-grow: 1;
        letter-spacing: 1px;
        padding-left: 10px;
        text-shadow: 1px 1px 2px #263238;
    }
    section.button > button {
        margin-left: auto;
        background: #D84315;
        color: #FFF;
        border-left: 2px solid rgba(255,255,255,0.3);
        border-top: 2px solid rgba(255,255,255,0.3);
        border-right: none;
        border-bottom: none;
        font-family: Exo;
        height: 24px;
        font-weight: bold;
        box-sizing: border-box;
        letter-spacing: 0.5px;
        border-radius: 2px;
        box-shadow: 1px 1px 5px rgba(20,20,20,0.4);
        flex-grow: 1;
        cursor: pointer;
        transition: all 0.2s linear;
        min-width: 140px;
        flex-shrink: 0;
    }
        section.button > button:hover {
            background: #FF3D00;
        }

/* 
    BOX CSS 
*/
section.box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#37474f+0,20343a+99 */
    background: rgb(55,71,79); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(55,71,79,1) 0%, rgba(32,52,58,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(55,71,79,1) 0%,rgba(32,52,58,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(55,71,79,1) 0%,rgba(32,52,58,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37474f', endColorstr='#20343a',GradientType=0 ); /* IE6-9 */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-top: 2px solid #455A64;
    border-left: 2px solid #455A64;
    border-right: 2px solid #37474F;
    border-bottom: 2px solid #37474F;
    box-shadow: 2px 2px 10px rgba(20,20,20,0.8);
    position: relative;
}

    section.box section.selectionBox  {
        box-shadow: 1px 1px 10px rgba(20,20,20,0.2);
    }

    section.box > section.titlebar {
        height: 15px;
        display: flex;
        align-items: center;
        color: #FFF;
        background: rgba(20,20,20,0.5);
        font-family: Exo;
        letter-spacing: 1px;
        font-size: 14px;
        padding: 10px;
        text-shadow: 1px 1px 2px #455A64;
    }

        section.box > section.titlebar span:nth-child(even) {
            margin-left: auto;
        }
        section.box > section.titlebar span + span {
            margin-left: 10px;
        }
        section.box > section.titlebar span {
            background: #37474F;
            width: 18px;
            height: 18px;
            display: flex;
            color: #FFF;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            line-height: 0;
            transition: all 0.2s linear;
            font-size: 16px;
            font-weight: bold;
            border: 2px solid #455A64;
            box-shadow: 1px 1px 10px rgba(20,20,20,0.4) inset;
            box-shadow: 2px 2px 10px rgba(20,20,20,0.25);
        }
            section.box > section.titlebar span.disabled {
                opacity: 0.2;
            }
            section.box > section.titlebar span:not(.disabled):hover {
                background: #E64A19;
                border-color: #FF7043;
                cursor: pointer;
            }

    section.box > section.content {
        padding: 10px;
        flex-direction: column;
        display: none;
    }
        section.box > section.content.show {
            display: flex;
        }
        section.box > section.content > * + * {
            margin-top: 10px;
        }

/*
    CubeView CSS 
*/
section#viewcube section.inline {
    display: flex;
}
section#viewcube hr {
    background: #546E7A;
    height: 2px;
    border-color: #263238;
}
section#viewcube button {
    background: #263238;
    outline: none;
    border: 2px solid #546E7A;
    height: 26px;
    color: #FFF;
    border-radius: 2px;
    font-family: Exo;
    font-weight: bold;
    letter-spacing: 0.4px;
    flex-grow: 1;
    flex-basis: 150px;
}
    section#viewcube button + button {
        margin-left: 4px;
    }

    section#viewcube button:disabled {
        opacity: 0.4;
    }
    section#viewcube button:not(:disabled):hover {
        cursor: pointer;
        color: #FFF9C4;
        border-color: #FFF9C4;
    }